<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<%= link_to 'New Todo', new_todo_path %>

<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <%
=begin%>
 <th>Date</th> 
<%
=end%>
      <th>Date</th>
      <th>Category</th>
      <th>Subject</th>
      <th>Desc</th>
      <th>Priority</th>
      <th>Name</th>
      <th>Tel</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <%
=begin%>
 <td><%= todo.created_at.strftime("%m-%d-%y - %H:%M %P")  %></td> 
<%
=end%>

        <td><%= todo.created_at.strftime("%m-%d-%y - %H:%M %P")  %></td> 
        <td><%= todo.category %></td>
        <td><%= todo.subject %></td>
        <td><%= todo.desc %></td>
        <td><%= todo.priority %></td>
        <td><%= todo.name %></td>
        <td><%= todo.tel %></td>
        <td><%= todo.status %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>


