<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @todo.category %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @todo.subject %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @todo.desc %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todo.priority %>
</p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @todo.tel %>
</p>

<p>
  <strong>Status:</strong>
  <%= @todo.status %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
